* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

body {
  background-color: rgb(9, 14, 22);
}

button,
a {
  cursor: pointer;
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
}
